html,body{
    background-color: #FFFF;
    margin: 0em;
    font-family: sans-serif; 
    scroll-behavior: smooth;   
}
	nav{
        width: 100%;
        background-color: #17202A;
        text-align: right;
        position: fixed;
        z-index: 999;
    }
    ul{
        width: 100%;
        margin: 0 auto;
        padding: 0; 
    }
    ul li{
        padding: 7px 32px;
		font-size: 1.5vw;
		color: #FFF;
		display: inline-block;
		padding-top: 12px;
		cursor: pointer;
		font-weight:normal;
		font-family:sans-serif;
		margin-top: .5vw;
		scroll-behavior: smooth;
        margin-bottom: 1vw;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    ul li a{
    	text-decoration: none;
    	text-align: right;
    	color: #FFF;
    }
     ul li a:hover{
        border: solid;
        border-left:none;
        border-right:none;
        border-top-style: none;
        color: #F4D03F;
        border-color: #979A9A;
    }
       ul li a.active{
        border: solid;
        border-left:none;
        border-right:none;
        border-top-style: none;
        border-color: #FFF;
    
    }
    #toggle{
    	width: 100%;
    	padding: 10px 20px;
    	background-color: #F8F9F9;
    	text-align: right;
    	box-sizing: border-box;
    	color: black;
    	font-size: 5vw;
    	display: none;
    }
    .img-Nav{
    height: 3vw;
    padding-top: 1px;
    padding-left: 2vw;
    padding-right: 2vw;
    cursor: pointer;
    margin-bottom: 1vw;
    float: left;
    margin-top: 1.2vw;
}
.card-1{
    height: 40vw;
    width: 100%;
    background-image: url('../ilya-pavlov-OqtafYT5kTw-unsplash.jpg');

    
}
.col-bg{
    margin-top: 10vw;
    float: right;
    margin-right: 10vw;
    border-radius: 90%;
}
  .box{
       position: absolute;
        z-index: 100;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 10%;
  }
  .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 20%; 
    }
    h1{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 6vw;
        color: #FFF;
        margin-left: 7vw;

    }
    h2{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 2vw;
        text-align: center; 
        margin-top: 0em;
        color: #F4D03F;
    }
    .btn-see{
        height: 4vw;
        width: 17vw;
        border-style: none;
        margin-left: 6vw;
        cursor: pointer;
        font-size: 2vw;
        font-family: 'Open Sans Condensed', sans-serif;
        outline: none;
        background-color: #E74C3C;
        color: #FFF;
    }
    .btn-see:hover{
        background-color: #F4D03F;
        color: #000;
    }
    .card-2{
        height: 40vw;
        background-color: red;
        width: 100%;
        display: inline-block;
        float: left;
    }
    .card-z-1{
        width:43vw;
        height: 40vw;
        float: left;
    }
        .card-z-2{
        width: 55vw;
        height: 40vw;
        float: right;
      
    }
    .col-bg-2{
        margin-top: 9vw;
        margin-left: 9vw;
        width: 26vw;
        height: 26vw;
    }
    p{
         margin-top: 4vw;
         font-family: 'Open Sans Condensed', sans-serif;
         font-size: 1.5vw;

    }
  .cardTemp{
  box-shadow: 0 1px 1px 0 rgba(2,2,2,2.2);
  transition: 0.3s;
  width: 45%;
  margin: 4vw;
  margin-bottom: 0vw;
  display: inline-block;
  height: 27vw;
  outline-style: none;
  border-style: none;

}
.container{
    padding: 2px 10px;
}
.imgCard{
    width: 100%;
}
.cardTemp:hover{
      box-shadow: 0 14px 18px 0 rgba(0,5,1,1.8);

}
 .card-3{
    height: 40vw;
    width: 85%;
    display: inline-block;
    float: left;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    margin-left: 5vw;
    margin-bottom: 3vw;


    }
.btn-View{
        height: 3vw;
        width: 7vw;
        border-style: none;
        cursor: pointer;
        font-size: 1vw;
        font-family: 'Open Sans Condensed', sans-serif;
        outline: none;
        background-color: #5DADE2;
        color: #FFF;
        float: right;

}
.btn-View:hover{
        background-color: #AED6F1;
}
    .card-4{
        height: 14vw;
        background-color:#566573 ;
        width: 100%;
        display: inline-block;
        float: left;
    }
    h3{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 3vw;
        color: #000;
        margin-top: 13vw;
        text-align: left;

    }
      h4{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 2vw;
        color: #FFF;
        text-align: center;

    }
    .footer-a{
        width: 40vw;
        height: 3vw;
        display: inline-block;
        margin-left:9vw;
    }
    .icon-1{
        width: 2vw;
        height: 2vw;
        
    }
    h5{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.5vw;
        color: #000;
        text-align: right;
        margin-top: 5px
    }
    .footer-b{
        width: 40vw;
        height: 3vw;
        display: inline-block;
        margin-left: 2vw;
    }
      h6{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.5vw;
        color: #000;
        text-align: left;
        margin-top: 5px
    }
    #img-mobil{
        display: none;
    }